* {
  margin: 0px; /* Fjerner standard margin for alle elementer */
  padding: 0px; /* Fjerner standard padding for alle elementer */
  box-sizing: border-box;
}

body {
  background-color: #e6e5d9; /* Baggrundsfarven for alle sider */
}

header {
  display: flex; /* Gør header til en fleksibel container */
  justify-content: space-between; /* Fordeler elementer med lige meget plads imellem */
}

.menu {
  display: flex; /* Gør menuen horisontal */
  list-style: none; /* Fjerner punkttegn fra listeelementer */
  margin: 0;
  padding: 0;
}

.menu a {
  display: block; /* Gør links til blokke for et bedre klikområde */
  padding: 0 10px 0; /* Tilføjer indre padding for bedre klikområde */
  color: #2449ef; /* Sætter linkfarve/skriftfarve */
  text-decoration: none; /* Fjerner understregning fra links */
}

.menu a:hover {
  color: #8298d9; /* Ændrer farve ved hover for bedre brugervenlighed- og oplevelse */
}

img {
  width: 100%; /* Sørger for at billeder vises i 100% størrelse */
  height: auto; /* Bevarer billeders højde (proportioner) */
}

.footer_social_media {
  display: flex; /* Sørger for at sociale medie-ikoner ligger på én linje */
  justify-content: flex-end; /* Placerer ikonerne til højre */
  align-items: center; /* Centrer lodret */
  gap: 10px; /* Tilføjer mellemrum mellem ikonerne */
  list-style: none; /* Fjerner prikker ud for */
  padding: 0;
  margin: 0;
}

.footer_social_media img {
  width: 40px; /* Størrelse på ikonerne, ensartet størrelse */
  height: auto; /* Bevarer proportioner */
}

.footer_social_media a:hover img {
  transform: scale(1.1); /* Forstørre ikonet ved hover */
  transition: transform 0.5s ease; /* Gør overgangen glidende */
}

.footer {
  display: flex; /* Gør footeren fleksibel */
  justify-content: space-between; /* Fordel pladsen mellem logo og sociale medier */
  align-items: center; /* Rykker olsenstudio.www på linje med logo og sociale medie */
}

/*************** BURGERMENU *********************/

.burger {
  width: 30px; /* Bredden på burgerikonet */
  height: 20px; /* Højden på burgerikonet */
  cursor: pointer; /* Gør ikonet klikbart */
  margin: 20px 20px 0;
}

.burger .line {
  width: 100%; /* Sikre at linjer fylder hele bredden */
  height: 3px; /* Linjetykkelse */
  background-color: #2449ef; /* Linjefarve */
  margin-bottom: 5px; /* Afstanden mellem linjerne */
  transition: 0.2s linear; /* Glidende overgang for animation */
  border-radius: 10px; /* Rundede hjørner for et blødere udtryk */
}

.burger {
  display: none; /* Gør burgermenu usynlig på desktop view */
}

@media (max-width: 900px) {
  .menu {
    display: none; /* Gør menu usynlig på mobil view (skjuler den normale menu) */
  }

  .burger {
    display: block; /* Gør burgermenu synlig på mobil view */
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px); /* Rotere første linje for at skabe et X */
    transition: 0.2s linear; /* Glidende overgang for animationen */
  }

  .burger.active .line:nth-child(2) {
    opacity: 0; /* Skjuler midterlinjen */
    transition: 0.15s linear; /* Hastigheden på overgangen fra linjer til X */
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px); /* Roterer tredje linje for at skabe et X */
    transition: 0.2s linear; /* Glidende overgang for animationen */
  }

  nav.active .menu {
    display: block; /* Gør menuen synlig, når der trykkes på burgerikonet */
    background-color: #e6e5d9; /* Baggrundsfarven for menuen */
    position: absolute; /* Placerer menuen ovenover andet indhold (fx header og logo) */
    top: 50px; /* Får menuen til at udfolde sig lige under headeren */
    right: 0;
    left: 0;
    width: 100%; /* Gør menuen fuldbredde */
    z-index: 1; /* Gør menuen vises ovenover alt andet indhold */
  }

  nav.active .menu li {
    margin: 10px 20px; /* Tilføjer lidt luft mellem menu muligheder */
  }

  nav.active .menu a {
    font-size: 24px; /* Skriftstørrelse for menuen */
  }
}

/*************** BURGERMENU SLUT *********************/

/*************** INDEX CSS *********************/

@media (min-width: 900px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* To kolonner med lige stor plads */
  }

  .line1 {
    position: relative;
    left: -10%; /* Placerer teksten over til venstre */
    margin-top: 120px; /* Rykker teksten ned */
    font-size: 90px; /* Skriftstørrelse */
  }

  .line2 {
    position: relative;
    left: 30%; /* Placerer teksten lidt til højre */
    margin-top: 30px; /* Rykker teksten ned */
    font-size: 90px; /* Skriftstørrelse */
  }

  .index-img {
    width: 70%; /* Størrelse på billede */
    margin-top: 100px; /* Rykker billede ned */
    margin-left: 150px; /* Rykker billede til højre */
  }

  .footer-index {
    margin-top: 60px; /* Regulerer hvor på siden footeren skal placeres */
  }
}

/*************** INDEX SLUT *********************/

/*************** PROJEKTER SIDE CSS *********************/

@media (min-width: 900px) {
  .grid_1-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tre kolonner */
  }

  .circle {
    max-width: 100%; /* Sørger for at cirklerne ikke overskrider containeren */
  }

  .tema2 {
    display: grid;
    grid-column: 2 / 3; /* Placerer tema 2 i midterkolonnen */
  }

  .tema3 {
    display: grid;
    grid-column: 3 / span 4; /* Placerer tema 3 i højre (yderste) kolonne */
  }

  .tema4 {
    display: grid;
    grid-column: 2 / 3; /* Placerer tema 4 i midterkolonnen */
  }

  .tema5 {
    display: grid;
    grid-column: 3 / span 4; /* Placerer tema 5 i højre (yderste) kolonne */
  }
}

/*************** PROJEKTER SIDE SLUT *********************/

/*************** TEMA SIDE CSS *********************/

@media (min-width: 900px) {
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* To kolonner */
  }

  .grid_2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* To kolonner */
  }

  .order {
    order: -1; /* Får billedet til at skifte fra højre til venstre side */
    padding: 0 20px 0 0;
  }

  .h2-tema {
    text-align: right; /* Rykker teksten til højre af siden */
    margin-right: 450px; /* Justere præcis hvor meget til højre teksten skal flyttes */
  }
}

/*************** TEMA SIDE CSS SLUT *********************/

/*************** OM SIDE CSS *********************/

@media (min-width: 900px) {
  .grid_2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* To lige store kolonner */
    gap: 20px; /* Afstand mellem kolonnerne */
  }

  .col_img-text {
    order: 2; /* Flytter billede og tekst til højre side på dekstop view */
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tre lige store kolonner */
    gap: 30px; /* Afstand mellem elementerne inden i kolonnerne */
  }
}

/*************** OM SIDE CSS SLUT *********************/

@media (min-width: 900px) {
  .footer_social_media {
    display: flex; /* Sørger for at sociale medie-ikoner ligger på én linje */
    justify-content: flex-end; /* Placerer ikonerne til højre */
    align-items: center; /* Centrer lodret */
    gap: 40px; /* Tilføjer mellemrum mellem ikonerne */
    list-style: none; /* Fjerner prikker ud for */
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 70px; /* Skriftstørrelse */
  }

  h2 {
    font-size: 50px; /* Skriftstørrelse */
  }
}
