* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #e6e5d9;
}

header {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #2449ef;
  text-decoration: none;
}

.menu a:hover {
  color: #8298d9;
}

img {
  width: 100%;
  height: auto;
}

.footer_social_media {
  display: flex;
  justify-content: flex-end; /* Flyt ikonerne til højre */
  align-items: center; /* Centrer lodret (valgfrit) */
  gap: 30px; /* Reducer mellemrum */
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_social_media img {
  width: 40px;
  height: auto;
}

.footer {
  display: flex;
  justify-content: space-between; /* Fordel pladsen mellem logo og sociale medier */
  align-items: center;
}

.footer p {
  display: grid;
  text-align: center;
}

/* footer a:hover {
  color: #8298d9;
} */

/*************** BURGERMENU *********************/

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin: 20px 20px 0;
}

.burger .line {
  width: 100%;
  height: 3px;
  background-color: #2449ef;
  margin-bottom: 5px;
  transition: 0.2s linear;
  border-radius: 10px;
}
.burger {
  display: none;
}
@media (max-width: 840px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #e6e5d9;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

/*************** BURGERMENU SLUT *********************/

/*************** INDEX CSS *********************/

@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .line1 {
    position: relative;
    margin-left: 10px;
    margin-top: 100px;
  }

  .line2 {
    position: relative;
    left: 2%;
    margin-top: 250px;
  }

  .mig {
    width: 60%;
    margin-top: 5px;
  }
}

/*************** INDEX SLUT *********************/

/*************** PROJEKTER SIDE CSS *********************/

@media (min-width: 800px) {
  .grid_2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .tema2-3 {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .tema4-5 {
    display: grid;
    grid-column: 3 / span 4;
  }
}

/*************** PROJEKTER SIDE SLUT *********************/

/*************** TEMA SIDE CSS *********************/

@media (min-width: 800px) {
  .grid_1-2 {
    display: grid;
  }

  .col {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .order {
    order: -1;
  }

  .h2-tema {
    grid-column: 2 / 3;
    text-align: right;
    margin-right: 143px;
  }
}

/*************** TEMA SIDE CSS SLUT *********************/

/*************** OM SIDE CSS *********************/

@media (min-width: 800px) {
  .grid_2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .om-text1 {
    display: grid;
    grid-column: 1 / 2;
  }

  .om-text2 {
    display: grid;
    grid-column: 2 / 3;
  }

  .om-text3 {
    display: grid;
    grid-column: 3 / 4;
  }
}

/* .grid_2-2-2-2 {
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-left: 80px;
  }

  .html {
    display: grid;
    grid-column: 1 / 3;
  }

  .css {
    display: grid;
    grid-column: 3 / 5;
  }

  .js {
    display: grid;
    grid-column: 5 / 7;
  }

  .figma {
    display: grid;
    grid-column: 1/ 3;
  }

  .illustrator {
    display: grid;
    grid-column: 3 / 5;
  }

  .premiere {
    display: grid;
    grid-column: 5 / 7;
  }
} */

/*************** OM SIDE CSS SLUT *********************/
