h1 {
  color: #2449ef; /* Farve for alle h1 */
  font-family: "Anton", serif; /* Skrifttype for alle h1 */
}

main {
  max-width: 1200px; /* Begrænser bredden for desktop view for bedre læsbarhed */
  margin: 0 auto; /* Centrerer main container */
  padding: 10px; /* Tilføjer lidt indvendig padding */
}

footer {
  padding: 0 10px 0 10px; /* Tiæføjer lidt mellemrum ude i siderne for footeren */
}

a {
  font-size: 40px; /* Størrelse for links */
  font-family: "Anton", serif; /* Skrifttype for links */
}

h1 {
  font-size: 50px; /* Skriftstørrelse */
}

h2 {
  color: #2449ef;
  font-family: "Anton", serif;
  font-size: 35px;
  padding: 50px 0 0 0; /* Afstand over overskrifter (primært til tema-sider) */
}

h3 {
  color: #2449ef;
  font-family: "Anton", serif;
  font-size: 30px;
  margin: 40px 0 0 0; /* Afstand over overskrifter */
}

p {
  padding: 20px 0 20px 0; /* Afstand over tekstafsnit */
  font-family: "Inria Serif", serif;
}

.logo {
  width: 50px; /* Bestemmer størrelse på logo */
  height: auto; /* Bevarer logoets proportioner */
}

.logo {
  display: flex;
  align-items: center; /* Centrerer logoet på linje med resten af indholdet i headeren */
}

/*************** INDEX START *********************/

.line1 {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 50px 0 0 0;
}

.line2 {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.index-img {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%; /* Billedets bredde/størrelse */
  padding: 30px 0 0 0;
}

.footer-index {
  margin-top: 40px; /* Rykker footeren længere ned */
}

/*************** INDEX SLUT *********************/

/*************** PROJEKTER START *********************/

.link-item {
  display: grid;
  align-items: center; /* Rykker tekst i midten af cirklen */
  justify-items: center; /* Rykker cirklen i midten af siden */
  text-decoration: none; /* Fjerner understregning */
}

.link-item:hover .text {
  transform: scale(1.1); /* Gør teksten større ved hover */
  transition: transform 0.5s ease; /* Glidende overgang */
}

.circle {
  max-width: 90%; /* Justere størrelsen for cirklerne */
  grid-row: 1 / 2; /* Cirklen placeres i samme række som tekstem */
  grid-column: 1 / 2; /* Cirklen placeres i samme kolonne som teksten */
  padding: 10px 10px 10px 10px; /* Tilføjer indvendig afstand */
}

.text {
  grid-row: 1 / 2; /* Teksten placeres i samme række som cirklen */
  grid-column: 1 / 2; /* Teksten placeres i samme kolonne som cirklen */
  color: white; /* Tekstfarve */
  text-align: center; /* Centrerer teksten */
  font-size: 40px;
  padding: 1px; /* Rykker teksten mere i midten af cirklen vandret og lodret */
}

/*************** PROJEKTER SLUT *********************/

/*************** TEMA SIDE SLUT *********************/

.tema-liste {
  padding: 10px 0 0 0;
}

ul {
  margin: 0 0 50px 0;
}

.link-result {
  display: inline-block;
  color: #2449ef;
  font-size: 20px;
  text-decoration: none; /* Fjerner understregning */
  border-radius: 20px;
  border: 3px solid #2449ef;
  padding: 10px; /* Indvendig afstand */
  margin: 10px 10px 50px -5px; /* Afstand udenom linket */
}

.link-site {
  display: inline-block;
  color: #2449ef;
  font-size: 20px;
  text-decoration: none; /* Fjerner understregning */
  border-radius: 20px;
  border: 3px solid #2449ef;
  padding: 10px; /* Indvendig afstand */
  margin: 20px 0 20px -5px; /* Afstand udenom linket */
}

.link-result-tema5 {
  display: inline-block;
  color: #2449ef;
  font-size: 20px;
  text-decoration: none; /* Fjerner understregning */
  border-radius: 20px;
  border: 3px solid #2449ef;
  padding: 10px; /* Indvendig afstand */
  margin: 10px 10px 5px -5px; /* Afstand udenom linket */
}

.link-tema5 {
  margin: 0 0 50px 0;
}

.link-site:hover {
  color: #8298d9; /* Farve på tekst */
  border: 3px solid #8298d9; /* Farve på kanten */
}

.link-result:hover {
  color: #8298d9; /* Farve på tekst */
  border: 3px solid #8298d9; /* Farve på kanten */
}

.link-result-tema5:hover {
  color: #8298d9; /* Farve på tekst */
  border: 3px solid #8298d9; /* Farve på kanten */
}

#pulse {
  animation-name: pulse_kf;
  animation-duration: 1s; /* Angiver varigheden af animationen */
  animation-iteration-count: infinite; /* Animationen kører uendeligt */
  animation-timing-function: linear; /* Animationen kører med en lineær timing, jævn over tid */
  animation-direction: alternate-reverse; /* Animationen skifter mellem normal og omvendt for hver gentagelse */
}

@keyframes pulse_kf {
  from {
    scale: 95%; /* Scalere fra 95% til 100% */
  }
  to {
    scale: 100%;
  }
}

/*************** TEMA SIDE SLUT *********************/

/*************** OM START *********************/

.portraet {
  display: grid;
  width: 70%; /* Størrelse på img */
  margin: 0 auto; /* Centrerer billedet i containeren */
}

.om-text {
  color: black;
  padding: 10px 0 0 0; /* Afstand over tekstafsnit */
  font-family: "Inria Serif", serif;
  text-decoration: none;
}

.p-timeline {
  color: #2449ef;
  padding: 10px 0 0 0; /* Afstand over tekstafsnit */
  font-family: "Inria Serif", serif;
  font-size: 30px;
}

.grid_1-1-1-1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /* Seks lige store kolonner */
  width: 80%; /* Begrænser griddets bredde, så det ikke fylder helt ud i siden */
  gap: 20px; /* Afstand mellem kolonnerne/ikonerne */
  padding: 10px 0 0 0; /* Indvendig afstand */
}

.adobe-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 400%; /* Begrænser griddets bredde, så det ikke fylder helt ud i siden */
  gap: 20px; /* Afstand mellem kolonnerne/ikonerne */
}

/*************** OM SLUT *********************/
