h1,
a {
  color: #2449ef;
  font-family: "Anton", serif;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

footer {
  padding: 0 10px 0 10px;
}

.footer-index {
  margin-top: 50px;
}

a {
  font-size: 40px;
}

h1 {
  font-size: 70px;
  /* padding: 0 0 30px 0; */
}

h2 {
  color: #2449ef;
  font-family: "Anton", serif;
  font-size: 50px;
  /* padding: 50px 0 0 0; */
}

h3 {
  color: #2449ef;
  font-family: "Anton", serif;
  font-size: 30px;
  /* padding: 20px 0 0 0; */
  margin: 40px 0 0 0;
}

p {
  padding: 10px 0 0 0;
  font-family: "Inria Serif", serif;
}

.logo {
  width: 70px;
  height: auto;
}

.logo {
  display: flex;
  align-items: center;
}

/*************** INDEX START *********************/

.line1 {
  position: relative;
  margin-top: 30px;
  left: 10%;
}

.line2 {
  position: relative;
  margin-top: 30px;
  left: 25%;
}

.mig {
  width: 60%;
  margin-left: 60px;
  margin-top: 20px;
}

/*************** INDEX SLUT *********************/

/*************** PROJEKTER START *********************/

/* .grid_2-1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
} */

.project-title {
  margin-top: 80px;
}

.link-item {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  text-decoration: none;
}

.link-item:hover .text {
  color: white;
  transform: scale(1.1); /* Justere for meget teksten i cirklen udvider sig når musen er henover */
  transition: transform 0.5s ease;
}

.circle {
  max-width: 80%;
  object-fit: cover;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  align-self: stretch;
  display: block;
  padding: 10px 10px 10px 10px;
  align-items: center;
  justify-items: center;
}

.text {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 1px;
}

/*************** PROJEKTER SLUT *********************/

/*************** TEMA SIDE SLUT *********************/

.tema2-img {
  width: 80%;
}

.link-container {
  display: flex;
}

.link-site {
  display: inline-block;
  color: #2449ef;
  font-size: 30px;
  text-decoration: none;
  border: 4px solid #2449ef;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.link-site:hover {
  color: #8298d9;
  border-color: #8298d9;
}

/*************** TEMA SIDE SLUT *********************/

/*************** OM START *********************/

.portraet {
  display: grid;
  width: 70%; /* Størrelse på img */
  margin: 0 auto;
}

.grid_1-1-1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 70%;
  gap: 20px;
  padding: 10px 0 0 0;
}

.grid_2-2 {
  display: grid;
  grid-template-columns: 1fr; /* Én kolonne på mobil */
}

.col_left {
  order: 1; /* Sørger for, at col_left vises først på mobil */
}

.col_right {
  order: 2; /* Sørger for, at col_right vises efter col_left på mobil */
}

/*************** OM SLUT *********************/
