* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #e6e5d9;
}

header {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #2449ef;
  text-decoration: none;
}

.menu a:hover {
  color: #8298d9;
}
